In [14]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("listings1.csv")

In [3]:
df.head()

,id,beds,price,abstract,city,state,create_date,expire_date
0,16809773,2,775,Call now for a tour! 855-213-2228\n\nWATERS LA...,Fort Worth,TX,06/19/2014 06:43:01.570066,07/22/2014 10:15:40.452517
1,17102205,1,724,"Located in the Westchase District of Houston, ...",Houston,TX,07/04/2014 10:16:21.888773,07/05/2014 10:15:24.904226
2,17860015,2,2395,Let's get to the good stuff. \n\n\nOur VIDEO ...,Anaheim,CA,08/12/2014 07:45:50.570992,08/20/2014 10:17:09.505251
3,16722129,2,1395,SPECIAL! Rent with us today and receive May...,Ottawa,ON,06/15/2014 10:18:16.221786,07/05/2014 10:16:37.783382
4,16984003,2,1110,Cornell 55 consists of two historic buildings ...,Chicago,IL,06/27/2014 10:17:45.513226,07/03/2014 10:15:46.999123

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2238 entries, 0 to 2237
Data columns (total 8 columns):
id             2238 non-null int64
beds           2238 non-null int64
price          2238 non-null int64
abstract       2012 non-null object
city           2238 non-null object
state          2238 non-null object
create_date    2238 non-null object
expire_date    2137 non-null object
dtypes: int64(3), object(5)
memory usage: 157.4+ KB

In [6]:
df2 = pd.read_csv("listings2.csv")

In [7]:
df2.head()

,id,beds,price,abstract,city,state,create_date,expire_date
0,16694859,2,4333,Every day is an open house here at Peter Coope...,New York,NY,06/14/2014 10:17:52.673243,06/16/2014 10:19:45.448141
1,17065347,2,3983,Peter Cooper Village/ Stuyvesant Town offers a...,New York,NY,07/02/2014 10:18:01.533469,07/08/2014 10:16:17.995626
2,16362873,1,2962,Every day is an open house here at Peter Coope...,New York,NY,06/02/2014 10:18:06.505596,06/10/2014 12:44:26.470681
3,16362952,2,3965,Every day is an open house here at Peter Coope...,New York,NY,06/02/2014 10:18:47.834146,06/10/2014 12:45:09.599242
4,16362964,1,3452,Every day is an open house here at Peter Coope...,New York,NY,06/02/2014 10:18:53.276642,06/16/2014 10:16:58.153732

In [8]:
df3 = pd.read_csv("listings3.csv")

In [9]:
df3.head()

,id,beds,price,abstract,city,state,create_date,expire_date
0,17380702,1,1320,NaN,Dallas,TX,07/17/2014 10:24:47.514507,08/25/2014 10:17:14.099767
1,17380285,2,1090,NaN,McKinney,TX,07/17/2014 10:23:31.66817,08/25/2014 10:16:20.111967
2,17475692,2,1700,"Amazing two bedroom, two bath in new construct...",Chicago,IL,07/22/2014 10:16:59.713929,08/02/2014 16:40:57.45617
3,17129209,1,3313,Peter Cooper Village/ Stuyvesant Town offers a...,New York,NY,07/05/2014 10:16:25.457172,07/07/2014 10:17:10.140115
4,17380654,2,832,NaN,Irving,TX,07/17/2014 10:24:37.868845,08/25/2014 10:16:41.286634

In [17]:
df2.state.value_counts()

TX    830
NY    391
IL    155
ON    109
CA     37
GA     16
QC     10
PA     10
FL      8
VA      6
NJ      6
SC      5
MO      5
OR      4
AZ      2
MD      2
CO      2
NV      2
TN      1
MN      1
OH      1
MA      1
dtype: int64